<%-include ('../layouts/adminheader.ejs')%>

<div class="col-lg-10 grid-margin stretch-card" >
  <div class="card" >
    <div class="card-body">
      <h4 class="card-title" >Users</h4>
  
      <!-- <div class="table-responsive"  style="border-radius: 12px">
        <a href="/admin/adduser"><button  class="btn btn-primary">Add user</button></a> -->

        <table class="table table-striped" >
          <thead>
          
            <tr>
              <th>
                 Name
              </th>
              <th>
                Login
              </th>
              <th>
                Mobile
              </th>
              <th>
               Verified
              </th>
             <th>Blocked

             </th>
              <th>
                Block/Unblock
              </th>
            </tr>
            <%
            if(Users.length>0){
              for(let i=0;i<Users.length;i++){
                %>
             <tr>
              <td>
                <%=Users[i].name%>

              </td>
              <td>
                <%=Users[i].email%>

              </td><td>
                <%=Users[i].mobile%>

              </td>
              <td>
                <%=Users[i].is_verified%>

              </td>
              <td>
                <%=Users[i].is_blocked%>
              </td>
              <td>
               <% if(Users[i].is_blocked==true){
                    %>
                <a class='btn btn-success' href="/admin/unblock-user?id=<%=Users[i]._id%>">
Unblock
                </a>
<%
              }else{%>
                <a class="btn btn-danger" href="/admin/block-user?id=<%=Users[i]._id%>">
Block
                </a>
              </td>
            </tr>
            <%
          }}
                }
              
        %> 
          </thead>
          <tbody>
          
          </tbody>
        </table>
    
      </div>
    </div>
  </div>
</div>

<%-include ('../layouts/adminfooter.ejs')%>