<%- include('../layouts/header.ejs') %>
HTML
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">John Smith</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
       
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name : </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=UserData.name%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email :</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=UserData.email%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number : </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=UserData.mobile%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              
              <hr>
              <button class="btn btn-primary" onclick="showEdit()" style="border-radius:7px;">Edit details</button>

          </div>
        </div>
  
        <div class="row edit-details" style="display: none;">
          <div class="col-lg-8">
       <form action="" method="post">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Name : </p>
                  </div>
                  <div class="col-sm-9">
                   <input name="name" type=text value='<%=UserData.name%>'>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email :</p>
                  </div>
                  <div class="col-sm-9">
                   <input disabled type=text value='<%=UserData.email%>'></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone Number : </p>
                  </div>
                  <div class="col-sm-9">
                   <input name="mobile" type=text value='<%=UserData.mobile%>'></p>
                  </div>
                </div>
                <hr>
                
                <hr>
                <button class="btn btn-primary" type="submit" style="border-radius:7px;">Update details</button>
    
              </div>
            </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
         
         
          <h5 class="my-3">Wallet</h5>
          <div style="display: flex;">
            <p style="padding: 30px;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif   ;">Total Amount:</p>
            <p style="padding: 30px;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif   ;"><%=userName.wallet%></p>
        </div>
         
          <div class="d-flex justify-content-center mb-2">
           
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  
  <script>
    function showEdit(){
      let div = document.querySelector('.edit-details');
      div.style.display = 'block';
    }
  </script>
</section>
 
<%- include('../layouts/footer.ejs') %>
